<!DOCTYPE html>
<html lang="en">

<head>
    <!-- icon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- socketio -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script type="text/javascript">
        var myRoomID = "{{room_id}}";
        var myName = "{{display_name}}";
        var audioMuted = "{{mute_audio}}" == "1";
        var videoMuted = "{{mute_video}}" == "1";
        console.log(">> {{mute_audio}}, {{mute_video}}", audioMuted, videoMuted);
    </script>
    <title>Video Chat [{{room_id}}]</title>
</head>

<body>
    <!-- grid that displays the users -->
    <div id="video_grid" class="video-grid"></div>
    <!-- floating pop-up that can be moved around -->
    <!-- Note that JQuery is required for this-->
    <video id="local_vid" autoplay muted></video>

    <script src="{{url_for('static', filename='video-manager.js')}}"></script>
    <script src="{{url_for('static', filename='chatroom_ui.js')}}"></script>
    <script src="{{url_for('static', filename='chatroom_networking.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>